*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html{
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog{
  width: 160px;
  height: 186px;
  position: relative;
}

@keyframes head{
  0%{
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(0deg);
  }
  40%{
    transform: rotate(-20deg);
  }
  80%{
    transform: rotate(-20deg);
  }
  90%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.dog-head{
  width: 100px;
  height: 90px;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #efc092;
  border-radius: 50%;
  animation: head 6s linear infinite;
}

.dog-head::before,
.dog-head::after{
  content: "";
  width: 79px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 44px;
  background-color: #efc092;
  border-radius: 50%;
}

.dog-head::before{
  left: -7px;
  transform: rotate(50deg);
}

.dog-head::after{
  right: -7px;
  transform: rotate(-49deg);
}

.dog-mouth{
  width: 60px;
  height: 35px;
  background-color: #fee2d2;
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
}

.dog-mouth::after{
  content: "";
  width: 10px;
  height: 40px;
  background-color: #fee2d2;
  position: absolute;
  bottom: 30px;
  left: 24px;
  z-index: 10;
  border-radius: 20px;
}